.abs-center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

hr.style-eight {
    overflow: visible; /* For IE */
    padding: 0;
    border: none;
    border-top: medium double white;
    color: white;
    text-align: center;
}
hr.style-eight:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

html {
  scroll-behavior: smooth;
}

.imgOfMe {
    padding-top: 2rem;
}

.text-purple {
    color: #8c43ff
}

/* .bg-purple {
    background: #8c43ff
} */

* {
    color: #8c43ff
}

.toMuchSpaceTop {
    padding-top: 2rem;
}