@import "tailwindcss";

@font-face {
    font-family: 'Menlo Regular';
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: local('Menlo Regular'), url('/fonts/Menlo-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Celine Stencil';
  src: url('/fonts/celine-stencil.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: "Menlo Regular", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-celine: "Celine Stencil", ui-serif, serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  scroll-behavior: smooth;
}

html.dark {
  color-scheme: dark;
}
