<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- embed -->
    <meta name="description" content="Front-end Web Deveoper">
    <meta name="keywords" content="Front-end, web, developer, ihildy, iHildy, reselling, websites">
    <meta name="theme-color" content="#10f7e6">
    <meta property="og:title" content="Click Me to learn more about me!" />
    <meta property="og:url" content="https://hildy.dev/" />
    <meta property="og:image" content="" /><!-- ADD PICTURE HERE -->
    <meta property="og:site_name" content="iHildy - Ian" />
    <meta property="og:description" content="Front-end Web Developer" />
    <link href="../public/img/circle-pfp.png" rel="icon" type="image/png">

    <!-- title -->
    <title>iHildy - Ian</title>

    <!-- css -->
    <link rel="stylesheet" href="../public/styles.css">
    <link href="../public/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- js -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179614158-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-179614158-1');
    </script>
</head>

<body class="bg-offwhite">
    <style>
        .bottom-full {
            bottom: 100%
        }
    
        .bgs-discord {
            background-color: #7289DA;
        }
    
        .top-full {
            top: 100%
        }
        .modal {
        transition: opacity 0.25s ease;
        }
        body.modal-active {
            overflow-x: hidden;
            overflow-y: visible !important;
        }
    </style>
    <div>
        <!-- <div class="bg-blue-900 text-center py-4 lg:px-4">
            <a href="https://hildy.dev/templates">
                <div class="p-2 bg-blue-800 items-center text-offwhite leading-none lg:rounded-full flex lg:inline-flex"
                    role="alert">
                    <span class="flex rounded-full bg-blue-600 uppercase px-2 py-1 text-xs font-bold mr-3">New Here?</span>
                    <span class="font-semibold mr-2 text-left flex-auto">Get a cool site for your group or bot for cheap, just click me!</span>
                    <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" /></svg>
                </div>
            </a>
        </div> -->

        <main class="pt-10 mx-3">
            <section class="text-center" id="intro">
                <!-- <img src="/public/img/circle-pfp.png" alt="pfp" class="rounded-full h-40 pb-6 mx-auto"> -->
                <h1 class="text-xl md:text-3xl font-bold">Hildy <span
                        class="text-4xl text-blue-700">Templates</span></h1>
                <h3 class="text-md md:text-xl">
                    A growing collection of reselling related templates for your <span class="text-xl md:text-2xl font-semibold">Cookgroup, Bot, Tool,</span> Etc...
                </h3>

                <div class="mx-auto text-center pt-5 fa-2x space-x-8 text-gray-800">
                    <a href="https://twitter.com/ianhildy" target="_blank"
                        class="rounded-md bg-gray-400 px-2 hover:text-blue-700"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/iHildy" target="_blank"
                        class="rounded-md bg-gray-400 px-2 hover:text-blue-700"><i class="fab fa-github"></i></a>
                    <a href="https://discord.gg/tnV6unB" target="_blank"
                        class="rounded-md bg-gray-400 px-2 hover:text-blue-700"><i class="fab fa-discord"></i></a>
                </div>

                <div class="text-center pt-3 text-blue-700">
                    <p class="text-xl text-gray-800 font-bold hover:text-blue-700">ian@jedi.net</p>
                </div>
            </section>

            <section class="container mx-auto my-16" id="projects">
                <div class="grid md:grid-cols-2 grid-cols-1 gap-8">
                    <!-- cards -->
                    <div class="rounded-xl overflow-hidden shadow-xl relative">
                            <img src="../public/img/hildytemplates.png" alt="Hildy Templates" class="w-auto h-auto" draggable="false">
                            <div class="m-4">
                        
                                <span class="font-bold text-2xl hover:text-blue-700"><a href="https://hildytemplates.netlify.app/Cookgroup/" target="_blank">Cookgroup Template</a></span>
                        
                                <span class="block text-sm">A cheap high quality website template for your Cookgroup. It can be easily modified for a bot or tool. Contact me with questions in the disord server!</span>
                                <div class="pt-3 space-x-2">
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdEGeZ5axE5eQcPM53VurHqetPorK6230a7XlggPAt0QVy1Jw/viewform?usp=sf_link" target="_blank">
                                        <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                            Purchase - $250
                                        </button>
                                    </a>
                                    <a href="https://hildytemplates.netlify.app/Cookgroup/" target="_blank">
                                        <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                            View
                                        </button>
                                    </a>
                                    <button
                                        class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl float-right modal-open hidden md:block" data-toggle="modal" data-target="cookgroupModal">
                                        Customers
                                    </button>
                                </div>
                                
                            </div>
                            <div>
                                <span
                                    class="bg-green-400 rounded-full px-1 text-center text-green-900 absolute top-0 right-0 m-3 float-right"><i
                                        class="fas fa-circle"></i></span>
                            </div>
                    </div>

                    <!-- <div class="rounded-xl overflow-hidden shadow-xl relative">
                        <img src="../public/img/gmails-proxies.png" alt="Hildy Templates" class="w-auto h-auto" draggable="false">
                        <div class="m-4">
                    
                            <span class="font-bold text-2xl hover:text-blue-700"><a href="https://hildytemplates.netlify.app/Gmails-Proxys/"
                                    target="_blank">Proxies/Gmails Template</a></span>
                    
                            <span class="block text-sm">A cheap high quality website template for your Cookgroup. It can be easily modified
                                for a bot or tool. Contact me with questions in the disord server!</span>
                            <div class="pt-3 space-x-2">
                                <a href="#"
                                    target="_blank">
                                    <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        Purchase - $250
                                    </button>
                                </a>
                                <a href="https://hildytemplates.netlify.app/Gmails-Proxys/" target="_blank">
                                    <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        View
                                    </button>
                                </a>
                                <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl float-right modal-open" data-toggle="modal" data-target="gmail-proxyModal">
                                    Customers
                                </button>
                            </div>
                    
                        </div>
                        <div>
                            <span
                                class="bg-green-400 rounded-full px-1 text-center text-green-900 absolute top-0 right-0 m-3 float-right"><i
                                    class="fas fa-circle"></i></span>
                        </div>
                    </div> -->

                    <div class="rounded-xl overflow-hidden shadow-xl relative">
                        <img src="../public/img/bot-tool.png" alt="Hildy Templates" class="w-auto h-auto" draggable="false">
                        <div class="m-4">
                    
                            <span class="font-bold text-2xl hover:text-blue-700"><a href="https://hildytemplates.netlify.app/Bot-Tool/"
                                    target="_blank">Bot/Tool Template</a></span>
                    
                            <span class="block text-sm">A cheap high quality website template for your Cookgroup. It can be easily modified
                                for a bot or tool. Contact me with questions in the disord server!</span>
                            <div class="pt-3 space-x-2">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSfJc5Qucme8QAinHnZbDTgTnVaeJzC_lDJSGeSpJZp5rBsc1A/viewform?usp=sf_link"
                                    target="_blank">
                                    <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        Purchase - $250
                                    </button>
                                </a>
                                <a href="https://hildytemplates.netlify.app/Bot-Tool/" target="_blank">
                                    <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        View
                                    </button>
                                </a>
                                <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl float-right modal-open hidden md:block" data-toggle="modal" data-target="bot-toolModal">
                                    Customers
                                </button>
                            </div>
                    
                        </div>
                        <div>
                            <span
                                class="bg-green-400 rounded-full px-1 text-center text-green-900 absolute top-0 right-0 m-3 float-right"><i
                                    class="fas fa-circle"></i></span>
                        </div>
                    </div>

                    <div class="rounded-xl overflow-hidden shadow-xl relative">
                        <img src="../public/img/yourProject.jpg" alt="Your next website" class="w-auto h-auto"
                            draggable="false">
                        <div class="m-4">

                            <span class="font-bold text-2xl hover:text-blue-700"><a href="#">Your Product...</a></span>

                            <span class="block text-sm">Get in contact with me with the social buttons above to talk to
                                me about a website for your product!</span>

                            <div class="pt-3 space-x-2">
                                <a href="https://discord.gg/tnV6unB">
                                    <button class="bgs-discord hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        Discord Server
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div>
                            <span
                                class="bg-red-400 rounded-full px-1 text-center text-red-900 absolute top-0 right-0 m-3 float-right"><i
                                    class="fas fa-circle"></i></span>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p class="p-3 text-xs md:text-base text-center font-semibold">More coming soon...</p>
        </footer>
    </div>
<!-- Cookgroup Modal -->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center" id="cookgroupModal">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

        <div
            class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
            </svg>
            <span class="text-sm">(Esc)</span>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
            <!--Title-->
            <div class="flex justify-between items-center pb-3">
                <p class="text-2xl font-bold">Sites Using This Template</p>
                <div class="modal-close cursor-pointer z-50">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 18 18">
                        <path
                            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                        </path>
                    </svg>
                </div>
            </div>

            <!--Body-->
            <p><a href="https://thefunementals.netlify.app/" target="_blank" class="text-blue-700 hover:text-blue-800 font-bold text-lg">The Fundementals</a></p>
            <p class="">Your New Site</p>

            <!--Footer-->
            <div class="flex justify-end pt-2">
                <button
                    class="modal-close px-4 bg-blue-700 p-3 rounded-lg text-white hover:bg-blue-800">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- bot/tool modal -->
<div class="modal opacity-0 pointer-events-none fixed w-full h-full top-0 left-0 flex items-center justify-center"
    id="bot-toolModal">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto">

        <div
            class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                viewBox="0 0 18 18">
                <path
                    d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                </path>
            </svg>
            <span class="text-sm">(Esc)</span>
        </div>

        <!-- Add margin if you want to see some of the overlay behind the modal-->
        <div class="modal-content py-4 text-left px-6">
            <!--Title-->
            <div class="flex justify-between items-center pb-3">
                <p class="text-2xl font-bold">Sites Using This Template</p>
                <div class="modal-close cursor-pointer z-50">
                    <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                        viewBox="0 0 18 18">
                        <path
                            d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z">
                        </path>
                    </svg>
                </div>
            </div>

            <!--Body-->
            <p><a href=" https://www.sapience-io.com/" target="_blank"
                    class="text-blue-700 hover:text-blue-800 font-bold text-lg">Sapience</a></p>
            <p class="">Your New Site</p>

            <!--Footer-->
            <div class="flex justify-end pt-2">

                <button
                    class="modal-close px-4 bg-blue-700 p-3 rounded-lg text-white hover:bg-blue-800">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    var openmodal = document.querySelectorAll('.modal-open')
        let selectedModalTargetId = ''
        for (var i = 0; i < openmodal.length; i++) {
            openmodal[i].addEventListener('click', function (event) {
                selectedModalTargetId = event.target.attributes.getNamedItem('data-target').value
                event.preventDefault()
                toggleModal()
            })
        }

        const overlay = document.querySelector('.modal-overlay')
        overlay.addEventListener('click', toggleModal)

        var closemodal = document.querySelectorAll('.modal-close')
        for (var i = 0; i < closemodal.length; i++) {
            closemodal[i].addEventListener('click', toggleModal)
        }

        document.onkeydown = function (evt) {
            evt = evt || window.event
            var isEscape = false
            if ("key" in evt) {
                isEscape = (evt.key === "Escape" || evt.key === "Esc")
            } else {
                isEscape = (evt.keyCode === 27)
            }
            if (isEscape && document.body.classList.contains('modal-active')) {
                toggleModal()
            }
        }

        function toggleModal() {
            if (!selectedModalTargetId) {
                return
            }
            const body = document.querySelector('body')
            const modal = document.getElementById(selectedModalTargetId)
            modal.classList.toggle('opacity-0')
            modal.classList.toggle('pointer-events-none')
            body.classList.toggle('modal-active')
        }


</script>
</body>

</html>