<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="0; URL='https://linear.tools/templates'" />
    <title>Linear Tools Templates</title>

    <!-- embed -->
    <!-- Primary Meta Tags -->
    <meta name="title" content="Linear Tools - The reselling hub for marketing material">
    <meta name="description" content="Linear is your platform's one-stop shop for marketing">
    <meta name="theme-color" content="#5b77c0">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="Linear Tools - The reselling hub for marketing material">
    <meta property="og:description" content="Linear is your platform's one-stop shop for marketing">
    <meta property="og:image"
        content="https://media.discordapp.net/attachments/778837785263996949/784239981978714192/LinearIO_Header.png?width=2160&height=720">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="Linear Tools - The reselling hub for marketing material">
    <meta property="twitter:description" content="Linear is your platform's one-stop shop for marketing">
    <meta property="twitter:image"
        content="https://media.discordapp.net/attachments/778837785263996949/784239981978714192/LinearIO_Header.png?width=2160&height=720">
</head>

<body>
    <h1>Linear Tools Templates</h1>
    <p>View: <a href="https://linear.tools/templates">here</a></p>
</body>

</html>