<!DOCTYPE html>
<html lang="en">

<head>
    <!-- metas -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- embed -->
    <meta name="description" content="Front-end Web Deveoper">
    <meta name="keywords" content="Front-end, web, developer, ihildy, iHildy, reselling, websites">
    <meta name="theme-color" content="#10f7e6">
    <meta property="og:title" content="Click Me to learn more about me!" />
    <meta property="og:url" content="https://hildy.dev/" />
    <meta property="og:image" content="" /><!-- ADD PICTURE HERE -->
    <meta property="og:site_name" content="iHildy - Ian" />
    <meta property="og:description" content="Front-end Web Developer" />
    <link href="../public/img/circle-pfp.png" rel="icon" type="image/png">

    <!-- title -->
    <title>iHildy - Ian</title>

    <!-- css -->
    <link rel="stylesheet" href="../public/styles.css">
    <link href="../public/site.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
        integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">

    <!-- js -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179614158-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-179614158-1');
    </script>
</head>

<body class="bg-offwhite">
    <style>
        .bottom-full {
            bottom: 100%
        }
    
        .bgs-discord {
            background-color: #7289DA;
        }
    
        .top-full {
            top: 100%
        }
    </style>
    <div>
        <!-- <div class="bg-blue-900 text-center py-4 lg:px-4">
            <a href="https://hildy.dev/templates">
                <div class="p-2 bg-blue-800 items-center text-offwhite leading-none lg:rounded-full flex lg:inline-flex"
                    role="alert">
                    <span class="flex rounded-full bg-blue-600 uppercase px-2 py-1 text-xs font-bold mr-3">New Here?</span>
                    <span class="font-semibold mr-2 text-left flex-auto">Get a cool site for your group or bot for cheap, just click me!</span>
                    <svg class="fill-current opacity-75 h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M12.95 10.707l.707-.707L8 4.343 6.586 5.757 10.828 10l-4.242 4.243L8 15.657l4.95-4.95z" /></svg>
                </div>
            </a>
        </div> -->

        <main class="pt-10 mx-3">
            <section class="text-center" id="intro">
                <!-- <img src="/public/img/circle-pfp.png" alt="pfp" class="rounded-full h-40 pb-6 mx-auto"> -->
                <h1 class="text-xl md:text-3xl font-bold">Hildy <span
                        class="text-4xl text-blue-700">Templates</span></h1>
                <h3 class="text-md md:text-xl">
                    A growing collection of reselling related templates for your <span class="text-xl md:text-2xl font-semibold">Cookgroup, Bot, Tool,</span> Etc...
                </h3>

                <div class="mx-auto text-center pt-5 fa-2x space-x-8 text-gray-800">
                    <a href="https://twitter.com/ianhildy" target="_blank"
                        class="rounded-md bg-gray-400 px-2 hover:text-blue-700"><i class="fab fa-twitter"></i></a>
                    <a href="https://github.com/iHildy" target="_blank"
                        class="rounded-md bg-gray-400 px-2 hover:text-blue-700"><i class="fab fa-github"></i></a>
                    <a href="https://discord.gg/tnV6unB" target="_blank"
                        class="rounded-md bg-gray-400 px-2 hover:text-blue-700"><i class="fab fa-discord"></i></a>
                </div>

                <div class="text-center pt-3 text-blue-700">
                    <p class="text-xl text-gray-800 font-bold hover:text-blue-700">ian@jedi.net</p>
                </div>
            </section>

            <section class="container mx-auto my-16" id="projects">
                <div class="grid md:grid-cols-2 grid-cols-1 gap-8">
                    <!-- cards -->
                    <div class="rounded-xl overflow-hidden shadow-xl relative">
                            <img src="../public/img/hildytemplates.png" alt="Hildy Templates" class="w-auto h-auto" draggable="false">
                            <div class="m-4">
                        
                                <span class="font-bold text-2xl hover:text-blue-700"><a href="https://hildytemplates.netlify.app/Cookgroup/" target="_blank">Cookgroup Template</a></span>
                        
                                <span class="block text-sm">A cheap high quality website template for your Cookgroup. It can be easily modified for a bot or tool. Contact me with questions in the disord server!</span>
                                <div class="pt-3 space-x-2">
                                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdEGeZ5axE5eQcPM53VurHqetPorK6230a7XlggPAt0QVy1Jw/viewform?usp=sf_link" target="_blank">
                                        <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                            Purchase - $250
                                        </button>
                                    </a>
                                    <a href="https://hildytemplates.netlify.app/Cookgroup/" target="_blank">
                                        <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                            View
                                        </button>
                                    </a>
                                </div>
                                
                            </div>
                            <div>
                                <span
                                    class="bg-green-400 rounded-full px-1 text-center text-green-900 absolute top-0 right-0 m-3 float-right"><i
                                        class="fas fa-circle"></i></span>
                            </div>
                    </div>

                    <div class="rounded-xl overflow-hidden shadow-xl relative">
                        <img src="../public/img/hildytemplates.png" alt="Hildy Templates" class="w-auto h-auto" draggable="false">
                        <div class="m-4">
                    
                            <span class="font-bold text-2xl hover:text-blue-700"><a href="https://hildytemplates.netlify.app/Gmails-Proxys/"
                                    target="_blank">Proxies/Gmails Template</a></span>
                    
                            <span class="block text-sm">A cheap high quality website template for your Cookgroup. It can be easily modified
                                for a bot or tool. Contact me with questions in the disord server!</span>
                            <div class="pt-3 space-x-2">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdEGeZ5axE5eQcPM53VurHqetPorK6230a7XlggPAt0QVy1Jw/viewform?usp=sf_link"
                                    target="_blank">
                                    <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        Purchase - $250
                                    </button>
                                </a>
                                <a href="https://hildytemplates.netlify.app/Gmails-Proxys/" target="_blank">
                                    <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        View
                                    </button>
                                </a>
                            </div>
                    
                        </div>
                        <div>
                            <span
                                class="bg-green-400 rounded-full px-1 text-center text-green-900 absolute top-0 right-0 m-3 float-right"><i
                                    class="fas fa-circle"></i></span>
                        </div>
                    </div>

                    <!-- <div class="rounded-xl overflow-hidden shadow-xl relative">
                        <img src="../public/img/hildytemplates.png" alt="Hildy Templates" class="w-auto h-auto" draggable="false">
                        <div class="m-4">
                    
                            <span class="font-bold text-2xl hover:text-blue-700"><a href="https://hildytemplates.netlify.app/Bot-Tool/"
                                    target="_blank">Bot/Tool Template</a></span>
                    
                            <span class="block text-sm">A cheap high quality website template for your Cookgroup. It can be easily modified
                                for a bot or tool. Contact me with questions in the disord server!</span>
                            <div class="pt-3 space-x-2">
                                <a href="https://docs.google.com/forms/d/e/1FAIpQLSdEGeZ5axE5eQcPM53VurHqetPorK6230a7XlggPAt0QVy1Jw/viewform?usp=sf_link"
                                    target="_blank">
                                    <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        Purchase - $250
                                    </button>
                                </a>
                                <a href="https://hildytemplates.netlify.app/Bot-Tool/" target="_blank">
                                    <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        View
                                    </button>
                                </a>
                            </div>
                    
                        </div>
                        <div>
                            <span
                                class="bg-green-400 rounded-full px-1 text-center text-green-900 absolute top-0 right-0 m-3 float-right"><i
                                    class="fas fa-circle"></i></span>
                        </div>
                    </div> -->

                    <div class="rounded-xl overflow-hidden shadow-xl relative">
                        <img src="../public/img/yourProject.jpg" alt="Your next website" class="w-auto h-auto"
                            draggable="false">
                        <div class="m-4">

                            <span class="font-bold text-2xl hover:text-blue-700"><a href="#">Your Product...</a></span>

                            <span class="block text-sm">Get in contact with me with the social buttons above to talk to
                                me about a website for your product!</span>

                            <div class="pt-3 space-x-2">
                                <a href="https://discord.gg/tnV6unB">
                                    <button class="bgs-discord hover:bg-indigo-800 text-white font-bold py-2 px-4 rounded-full shadow-xl">
                                        Discord Server
                                    </button>
                                </a>
                            </div>
                        </div>
                        <div>
                            <span
                                class="bg-red-400 rounded-full px-1 text-center text-red-900 absolute top-0 right-0 m-3 float-right"><i
                                    class="fas fa-circle"></i></span>
                        </div>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <p class="p-3 text-xs md:text-base text-center font-semibold">More coming soon...</p>
        </footer>
    </div>
</body>

</html>